@model IEnumerable<SportGround.BusinessLogic.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<h2>All users</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>Edit</th>
        <th>Details</th>
        <th>Delete</th>
        <th>Reset password</th>
        @if (this.User.IsInRole("Admin"))
        {
            <th>Change role</th>
        }

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <a href="@Url.Action("Edit", "User", new {id = item.Id})" class="btn btn-primary fa fa-pencil">
                <span>
                    <strong>Edit</strong>
                </span>
            </a>
        </td>
        <td>
            <a href="@Url.Action("Details", "User", new {id = item.Id})" class="btn btn-primary">
                <span>
                    <strong>Details</strong>
                </span>
            </a>
        </td>
        <td>
            <a href="@Url.Action("Delete", "User", new {id = item.Id})" class="btn btn-primary">
                <span>
                    <strong>Delete</strong>
                </span>
            </a>
        </td>
        <td>
            <a href="@Url.Action("ResetPassword", "User", new {id = item.Id})" class="btn btn-primary">
                <span>
                    <strong>Reset password</strong>
                </span>
            </a>
        </td>
        
        @if (this.User.IsInRole("Admin"))
        {
            <td>
                <a href="@Url.Action("Changerole", "User", new {id = item.Id})" class="btn btn-primary">
                    <span>
                        <strong>Change role</strong>
                    </span>
                </a>
            </td>
        }
    </tr>
}

</table>
