@using System.IdentityModel.Protocols.WSTrust
@model IEnumerable<SportGround.BusinessLogic.Models.CourtBookingModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Court.Name)
        </th>
        <th>
            Date
        </th>
        <th>
            Status
        </th>
        <th>
            Decline
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Court.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInString)
            </td>
            <td>
                @if (item.IsActive)
                {
                    <p>Active</p>
                }
                else
                {
                    <p>Done</p>
                }
            </td>
            @if (item.IsActive || this.User.IsInRole("Admin"))
            {
                <td>
                    <a href="@Url.Action("DeclineBookingCourt", "CourtBooking", new {id = item.Id})" class="btn btn-primary fa fa-pencil">
                        <span>
                            <strong>Decline</strong>
                        </span>
                    </a>
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }
</table>
<a href="@Url.Action("Index", "Court")" class="btn btn-primary fa fa-pencil">
    <span>
        <strong>Go to court</strong>
    </span>
</a>
