@using System.IdentityModel.Protocols.WSTrust
@model IEnumerable<SportGround.BusinessLogic.Models.CourtBookingModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourtName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Status
        </th>
        <th>
            Decline
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date.Date)
            </td>
            <td>
                @if (item.IsActive)
                {
                    <p>Active</p>
                }
                else
                {
                    <p>Done</p>
                }
            </td>
            @if (item.IsActive)
            {
                <td>
                    @Html.ActionLink("Decline", "DeclineBookingCourt", new { id = item.Id })
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }
</table>
@Html.ActionLink("Back to users", "Index", "User")
