@model IEnumerable<SportGround.BusinessLogic.Models.CourtModel>
<hr />
@if (this.User.IsInRole("Admin"))
{
    <a href="@Url.Action("Create", "Court")" class="btn btn-primary fa fa-pencil">
        <span>
            <strong>Create new</strong>
        </span>
    </a>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Operations</th>
        <th>Booking</th>
        <th>Working days</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="@Url.Action("Details", "Court", new {id = item.Id})" class="btn btn-primary fa fa-pencil">
                <span>
                    <strong>Details</strong>
                </span>
            </a>
            @if (this.User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit", "Court", new {id = item.Id})" class="btn btn-primary fa fa-pencil">
                    <span>
                        <strong>Edit</strong>
                    </span>
                </a>
                <a href="@Url.Action("Delete", "Court", new {id = item.Id})" class="btn btn-primary fa fa-pencil">
                    <span>
                        <strong>Delete</strong>
                    </span>
                </a>
            }
        </td>
        @if (item.CanBooking)
        { 
        <td>
            <a href="@Url.Action("BookingCourt", "CourtBooking", new {courtId = item.Id})" class="btn btn-primary">
                <span>
                    <strong>Booking this court</strong>
                </span>
            </a>
        </td>
        }
        else
        {
            <td>
                <p>You can't booking this court</p>
            </td>
        }
            <td>
                <a href="@Url.Action("Index", "CourtWorkingDays", new {courtId = item.Id})" class="btn btn-primary">
                    <span>
                        <strong>Working days</strong>
                    </span>
                </a>
            </td>
    </tr>
}
</table>
