@using WebGrease.Css.Extensions
@model SportGround.BusinessLogic.Models.CourtWithWorkingDaysModel
@if(@Model.IsAvailableDays && this.User.IsInRole("Admin"))
{
    <td>
        <a href="@Url.Action("Create", "CourtWorkingDays", new {courtId = Model.Id})" class="btn btn-primary">
            <span>
                <strong>Create new</strong>
            </span>
        </a>
    </td>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Day")
        </th>
        <th>
            @Html.DisplayName("StartTime")
        </th>
        <th>
            @Html.DisplayName("EndTime")
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in @Model.AllWorkingHours )
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.StartTime.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime.TimeOfDay)
            </td>
            <td>
                <a href="@Url.Action("Details", "CourtWorkingDays", new {id = item.Id})" class="btn btn-primary">
                    <span>
                        <strong>Details</strong>
                    </span>
                </a>
                @if (this.User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Edit", "CourtWorkingDays", new {id = item.Id})" class="btn btn-primary">
                        <span>
                            <strong>Edit</strong>
                        </span>
                    </a>
                    <a href="@Url.Action("Delete", "CourtWorkingDays", new {id = item.Id})" class="btn btn-primary">
                        <span>
                            <strong>Delete</strong>
                        </span>
                    </a>
                }
            </td>
        </tr>
    }
</table>
<a href="@Url.Action("Index", "Court")" class="btn btn-primary fa fa-pencil">
    <span>
        <strong>Back to Court</strong>
    </span>
</a>
