@model SportGround.BusinessLogic.Models.CourtWorkingHoursModel

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime.TimeOfDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime.TimeOfDay)
        </dd>

    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "CourtWorkingHours", new {id = Model.Id})" class="btn btn-primary">
        <span>
            <strong>Edit</strong>
        </span>
    </a>
    <a href="@Url.Action("Index", "CourtWorkingHours", new {courtId = Model.Court.Id})" class="btn btn-primary">
        <span>
            <strong>Back to list</strong>
        </span>
    </a>
</div>
